.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    --button--disabled: dimgrey;
}

.btn--default {
    background-color: deeppink;
    color: white;
    border: none;
    margin-top: 10px;
}

.btn--top20 {
    background-color: darkorange;
    font-weight: bold;
    color: white;
    border: none;
    margin: 3px;
}

.btn--cart-remove {
    max-width: 150px;
    background-color: #12b0d3;
    color: white;
    border: none;
}

.btn--form {
    min-width: 140px;
    background-color: #12b0d3;
    color: white;
    border: none;
}

.btn--small {
    padding: 10px 15px;
    font-size: 12px;
}

.btn--medium {
    padding: 8px 5px;
    font-size: 15px;
}

.btn--large {
    padding: 8px 5px;
    font-size: 20px;
}

.btn--extra-large {
    padding-right: -50px;
    font-size: 30px;
}


