.product-top__container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.product__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card__container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding: 20px;
    margin: 0 0 20px 0;
    width: 300px;
    height: 570px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: grey 0 5px 8px;
}

.image--front__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image--front__container img {
    width: 270px;
    height: 270px
}

.card-actions__container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card-actions__container button {
    padding: 9px 11px 5px 11px;
    background-color: transparent;
    border-radius: 50%;
    border: transparent;
}

.card-actions__container button:hover {
    background-color: orange;
    transition: 1500ms;
}

.card-actions__container button img {
    width: 30px;
}

.card--price__container {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: 5px 0 10px 0;
}

.card--price__container h2 {
    color: #005ad4;
    font-family: "Roboto Thin", sans-serif;
}

.card--content__container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.card--content__container h2 {
    color: darkorange;
}

@media screen and (min-width: 500px) {
    .card__container {
        margin-left: 20px;
    }
}
