.start-image__containerSmall img {
    max-width: 300px;
    margin-bottom: 15px;
    padding-top: 20px;
}

.start-image__containerLarge {
    display: none;
}

.start-top__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start--subtitle {
    margin: 2px 0 10px 0;
    color: darkorange;
}

@media screen and (min-width: 500px) and (max-width: 749px){
    .start-image__containerSmall img {
        min-width: 390px;
        padding-top: 20px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1049px){
    .start-image__containerSmall img {
        display: none;
    }

    .start-image__containerLarge {
        display: flex;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .start-image__containerLarge img {
        max-width: 740px;
    }
}

@media screen and (min-width: 1050px) {
    .start-image__containerSmall img {
        display: none;
        padding-top: 20px;
    }

    .start-image__containerLarge {
        display: flex;
        margin-bottom: 20px;
    }

    .start-image__containerLarge img {
        min-width: 900px;
        padding-top: 20px;
    }
}