.navbar-top__container {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    box-shadow: 0 1px 10px grey;
    scroll-behavior: smooth;
}

.navbar-content__container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo__container img {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.navbar-logo__container h4 {
    font-family: 'Roboto Light', sans-serif;
    color: darkorange;
    font-size: 18px;
    margin-left: 5px;
}

.navbar-links__container {
    display: none;
    flex-direction: row;
}

.navbar-links__container p,
.navbar-home__container p,
.navbar-menu__container p {
    color: #005ad4;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.navbar-links__container p:hover {
    color: orange;
}

.navbar--cart img {
    width: 25px;
    margin-left: 20px;
}

.total--items {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 25px;
    background-color: darkorange;
    color: white;
    border-radius: 50%;
}

.total--items p {
    font-size: 12px;
    font-weight: bolder;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 1.5px;
    right: 1.5px;
    color: white;
    border-radius: 50%;
}

.navbar-menu-top__container {
    display: flex;
}

.navbar-menu-top__container svg {
    margin-right: 20px;
    cursor: pointer;
}

.navbar-menu__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: antiquewhite;
    padding: 8px 10px 10px 10px;
    position: absolute;
    right: 0;
    top: 45px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 15px black;
}

.navbar-menu-links__container p {
    padding: 6px 10px;
    margin-top: -5px;
    border-radius: 7px;
}

.navbar-menu-links__container p:hover {
    background-color: orange;
    color:white;
}

.navbar--cart-small img {
    position: relative;
    width: 25px;
    margin: 0 20px 0 0;
}

.total--items-small {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 6px;
    background-color: darkorange;
    color: white;
    border-radius: 50%;
}

.total--items-small p {
    font-weight: bolder;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -1px;
    right: 1%;
    color: white;
    border-radius: 50%;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media screen and (min-width: 500px) and (max-width: 749px){

    .navbar-links__container {
        display: none;
    }

}

@media screen and (min-width: 750px) and (max-width: 1049px){

    .navbar-logo__container {
        padding: 0 0 0 50px;
    }

    .navbar-links__container {
        display: none;
        padding: 0 40px 0 0;
    }

}

@media screen and (min-width: 1050px) {

    .navbar-logo__container {
        padding: 0 0 0 50px;
    }

    .navbar-links__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px 0 0;
    }

    .navbar-links__container a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
    }

    .navbar-menu-top__container {
        display: none;
        position: relative;
    }

    .inactive {
        color: blue
    }

    .active {
        color: deeppink;
    }

}